
*{
    box-sizing: border-box;
}
BODY{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15PX 30PX;
    font-size: 18PX;
    padding: 9PX;
    
}
.container{
    background-color: #d4415e;
    padding: 5PX 20PX 15PX 20PX;
    border: 1PX solid lightgrey;
    border-radius: 5px;
    height: 50%;

}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
select,
textarea{
    width:50%;
    padding:12px 10px 5px 12px;
    border:1px solid black;
    margin:1opx;
}
fieldset{
    border-color:#079713 ;
    border-radius: 4px soid black;
}
.mainheding{
    text-align: center;

}
input[type="submit"]{
    background-color: rgba(0, 0, 0, 0.404);
    padding: 10px 12px;
    color: white;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    width: 20%;
    text-align: center;
}
    input[type="reset"]{
        background-color: rgba(18, 26, 27, 0.404);
        padding: 10px 12px;
        color: white;
        border-radius: 2px;
        border: none;
        cursor: pointer;
        width: 20%;
        text-align: center;
    }
    input [type=submit]:hover{
        background-color: white;
    }
    
